<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salt Merchant</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <div class="container-md">
                <a class="navbar-brand" href="#">Salt Merchant</a>
                <!-- Button to trigger the collapsed menu on smaller screens -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Collapsible menu content -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <!-- Add your navigation links here -->
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<main>
    <div>
        <h2 class="text-center mt-5" style="font-weight: bold;">Code - 6544</h2>
        
    </div>
    <div>
        <!-- game code -->
    </div>

    <!-- player details -->
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
               Player 1
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="list-group">
                    <li class="list-group-item ">Mohit</li>
                    <li class="list-group-item">Free Flow Factory -1</li>
                    <li class="list-group-item">Iodized Factory -2</li>
                    <li class="list-group-item">Crued Factory -1</li>
                    <li class="list-group-item">Coins-50</li>
                  </ul>
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Player 2
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="list-group">
                    <li class="list-group-item ">Shreekant</li>
                    <li class="list-group-item">Free Flow Factory -0</li>
                    <li class="list-group-item">Iodized Factory -1</li>
                    <li class="list-group-item">Crued Factory -2</li>
                    <li class="list-group-item">Coins-60</li>
                </ul>
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
               Player 3
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="list-group">
                    <li class="list-group-item ">Pratham</li>
                    <li class="list-group-item">Free Flow Factory -2</li>
                    <li class="list-group-item">Iodized Factory -1</li>
                    <li class="list-group-item">Crued Factory -0</li>
                    <li class="list-group-item">Coins-45</li>
                  </ul>
            </div>
            </div>
        </div>
        </div>

</main>
    <!-- <div class="container-fluid d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="text-center">
        
            <div class="mb-3">
                <a href="new.html">
                    <button class="btn btn-success btn-lg" >New Game</button>
                </a>
            </div>
         
            <div>
                <button class="btn btn-primary btn-lg">Join Game</button>
            </div>
        </div>
    </div> -->
    

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-q9ZetqFn8v93tJzTjADr4wv6i7V5QbONXoyjdzYlAMVoy2lFX+rVcwFlBbCgmqN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-buQG2RSg0pZ7rZaE5YGH3z/Zsa+trBtAfaNexXePZATQfaH1g4RizoOqgvo+uzd1" crossorigin="anonymous"></script>
</body>
</html>
